@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

@font-face {
    font-family: 'Droid';
    src: url('fonte/idroid.otf'), format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #84E1AD;
    font-family: 'Roboto Flex', sans-serif;
    text-align: justify;
}

header{
    padding-top: 20px;
    padding-bottom: 5px;
    background-image: linear-gradient(to top,#1B6139,#3AD07E);
    color: #ffffff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.390);
    text-align: center;   
}

header  h1{
    font-size: 2.5em;
    font-weight: 500;
}


nav{
    padding-top: 40px;
    text-align: left;
}

nav  a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.3s;
    margin-left: 15px;
    padding: 5px;
}

nav  a:hover{
    background-color:#1A5C38;
    border-radius: 5px;
}

main{
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    padding: 15px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.390);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

span{
    color: #1A5C38;
    font-weight: bold;
}

p{
    margin: 10px 0px;
    text-indent: 25px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

section  h1{
    font-size: 2em;
    color: #1A5C38;
    font-family: 'Droid', Helvetica, sans-serif;
}

section  h2{
    color: #1A5C38;
    font-family: 'Droid', Helvetica, sans-serif;
    background-image: linear-gradient(to right,#C6EBD6,#ffffff);
    text-indent: 3px;
}

.link{
    background-color: #80E0AA;
    color: #1A5C38;
    font-weight: bold;
    text-decoration: none;
}

.link::after{
    content: '🔗';
}

img{
    width: 100%;
}

.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

#video{
    background-color: #1A5C38;
    margin: 0px -15px;
    padding: 15px;
    position: relative;
    padding-bottom: 56.5%;
}

#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90% ;
}

aside {
    background-color: #C5EBD6;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.400);
}

h3 {
    margin-top: 15px;
    padding: 5px;
    background-color: #2FA866;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px 5px 0px 0px;
}


ul{
    list-style-position: inside;
    columns: 2;
    list-style: none;
    
}

li::before{
    content: '✔ ';
}

footer{
    padding: 3px;
    background-color: #1A5C38;
    color: #ffffff;
    text-align: center;
}

footer  p {
    padding: 0;
    margin: 0;
}

footer > p > span{
    color: #ffffff;
    font-weight: 700;
}
